{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Graphql example</title>
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/picnic.min.css' %}" />
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/screen.css' %}" />
</head>

<body>
<div id="app">
	<div id="header" class="row">
		<button class="success btn-query" v-on:click="getUsers">Run all users query</button>
		<h1>Graphql example</h1>
	</div>
	<div id="content">
		<div class="flex" v-if="show !== undefined">
			<div class="col">
				<h3>Query</h3>
				{% include "queries/index.html" %}
			</div>
			<div class="col-r">
				<h3>Results</h3>
				<div v-if="users!==[]">
					<div v-for="u in users" style="padding-top:1em;">
						<a href="#" v-on:click="getUser(u.username)">
							<div class="button stack">
								<span class="label success" style="float:right">View</span>
								<span v-html="u.username"></span> :
								<span v-html="u.email"></span>
							</div>
						</a>
					</div>
					<div style="margin-top:1em">
						<button class="shyButton" style="float:right" v-on:click="goNextPage" v-if="nextPage === true">Next</button>
						<button class="shyButton" style="float:left" v-on:click="goPreviousPage" v-if="previousPage === true">Previous</button>
					</div>
				</div>
				<div v-if="show === 'userdetail'" style="text-align:left">
					<div v-html="user.username"></div>
					<div v-html="user.email"></div>
					<div>
						Joined at: <span v-html="user.date_joined"></span>
					</div>
					<div>
						Last login: <span v-html="user.last_login"></span>
					</div>
					<div>
						Is staff: <span v-html="user.is_staff"></span>
					</div>
					<button class="shyButton" style="margin-top:1em" v-on:click="getUsers()">Back</button>
				</div>
			</div>
			<div class="row">
				<h3>Raw data</h3>
				<pre v-html="rawData"></pre>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		{% include "vue/app.js" %}
	</script>
</div>
</body>
</html>
