{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Graphql example</title>
    <script type="text/javascript" src="{% static 'js/vue.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/picnic.min.css' %}" />
	<link rel="stylesheet" media="screen, projection" href="{% static 'css/screen.css' %}" />
</head>

<body>
<div id="app">
	<div id="header" class="row">
		<button class="success btn-query" v-on:click="getUsers">Run all users query</button>
		<h1>Graphql example</h1>
	</div>
	<div id="content">
		<div class="flex">
			<div class="col">
				<h3 v-if="show !== undefined">Query</h3>
				{% include "queries/index.html" %}
			</div>
			<div class="col-r">
				<h3 v-if="show !== undefined">Results</h3>
				<div v-for="user in users" style="padding-top:1em;">
					<div class="button stack">
						<span v-html="user.username"></span> :
						<span v-html="user.email"></span>
					</div>
				</div>
				<div style="margin-top:1em" v-if="show !== undefined">
					<button class="shyButton" style="float:right" v-on:click="goNextPage" v-if="nextPage === true">Next</button>
					<button class="shyButton" style="float:left" v-if="previousPage === true">Previous</button>
				</div>
			</div>
			<div class="row">
				<h3 v-if="show !== undefined">Raw data</h3>
				<pre  v-if="show !== undefined"v-html="rawData"></pre>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		{% include "vue/app.js" %}
	</script>
</div>
</body>
</html>
